*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --f_size : 22px;
}
html,body{

    margin: 0;
    height: 100%;
    background-color: var(--bg_color);
    color: var(--t_color);
    font-size: var(--f_size);
    transition: 350ms ease-in-out;
}
#app{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#controls{
    /* background-color: var(--bg_accent); */
    width: 90%;
    padding: 1em;
}
.slider{
    width: 100%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
input[type=range]{
    width:50%;
}

@media(prefers-color-scheme: dark){
    :root{
        --bg_color: #2a2a2e;
        --bg_accent: hsl(200, 20%, 20%);
        --t_color: #fff;
    }
}
@media(prefers-color-schem: light){
    :root{
        --bg_color: hsl(200, 0%, 100%);
        --bg_accent: hsl(200, 20%, 20%);
        --t_color: #111;
    }
}